@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inclusive+Sans&family=Lato&family=Rubik&family=Tilt+Prism&family=Ubuntu&display=swap");
/* Define your custom colors as variables */
:root {
  --main-color: rgb(237, 43, 153); /* Main color */
  --background-color: rgba(245, 244, 250, 1); /* Background color */
}

/* Global styles */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu";
}

.headertopp {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
  background-color: transparent; /* Initial background color */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.headernavbar {
  position: fixed;
  display: block;
  justify-content: center;
}
.headercontainertop {
  box-sizing: border-box;
  align-items: center;
  height: 10vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px 20px;
}
a:visited {
  color: #000;
}
a {
  color: #0b0b0b;
}
a:active {
  color: #000;
}
.tooltip {
  position: relative;
  display: inline-block;
  color: black;
  flex: 1;
  display: flex;
  gap: 20px;
  z-index: 99999999999;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: #0b0b0b;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: "Ubuntu";
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  line-height: 28px;
  border: 1px solid #cecece;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  margin-left: -5px;
}

.hamburger:hover + .tooltiptext,
.tooltiptext:hover {
  visibility: visible;
  opacity: 1;
}

.tooltip-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 12px;
  cursor: pointer;
}

.tooltip-item:hover {
  color: var(--main-color); /* Use the variable here */
  fill: var(--main-color) !important;
}

.tooltip-item:hover path {
  fill: var(--main-color) !important;
}

.tooltiptext hr {
  border: 1px solid #c7c7c783 !important;
  width: 100% !important;
  border-radius: 20px;
  margin: 12px 0px;
}

.tooltip-item img {
  width: 35px;
  height: 35px;
}

.tooltip-item h1 {
  font-size: 16px;
  white-space: nowrap;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  box-sizing: content-box;
  position: relative;
  padding-bottom: 20px;
  box-sizing: content-box;
  margin-top: 12px;
  /* flex: 1; */
}

.humberger-text {
  position: absolute;
  bottom: 0px;
  font-size: 12px;
}
.icon {
  margin-bottom: -10px;
}
.bar {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: transform 0.4s ease;
}

.opened .bar:first-child {
  transform: translateY(8px) rotate(45deg);
}

.opened .bar:nth-child(2) {
  transform: scaleX(0);
}

.opened .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.whitebutton {
  background-color: white;
  color: var(--main-color); /* Use the variable here */
  border: 1px solid var(--main-color); /* Use the variable here */
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  width: 155px;
  height: 50px;
  font-family: "Inclusive Sans";
  border-radius: 2px;
}

.whitebutton:hover {
  background-color: rgb(233, 68, 161);
  color: white;
  border: none;
}

.buttonn {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  font-size: 18px;
  font-weight: 400;

  width: 90px;
  height: 100%;
  font-family: "Ubuntu";
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonn:hover {
  background-color: var(--main-color); /* Use the variable here */
  color: white;
  fill: white;
  border: none;
}

.buttonn:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7482%)
    hue-rotate(72deg) brightness(99%) contrast(99%);
}

.butonline {
  line-height: 50px;
}

hr {
  width: 100vw;
  border: 0.5px solid #b8b8b86c;
}
.headercontainertop {
  box-sizing: border-box;
  align-items: center;
  height: 10vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px 20px;
}

.leftt {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.navbarr {
  text-align: center;
  /* margin-top: 20px; */
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 20px;
}

.navlinkss {
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  max-width: 95vw;
  gap: 16px;
  flex-wrap: nowrap;

  overflow-x: scroll;
}

li {
  list-style: none;
  display: inline;
  /* padding: 10px; */
}

.navbarr a {
  font-family: "Ubuntu";
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  white-space: nowrap;
}
.navbarr a:hover {
  font-family: "Ubuntu";
  color: var(--main-color);
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

.titelss:hover {
  padding-bottom: 18px;
  border-radius: 3px;
}
.titelss {
  margin-top: 10px;
}

.titleunderlinee {
  /* padding-bottom: 18px; */
  border-radius: 3px;
}

.navpp {
  font-family: "Ubuntu";
  color: rgba(0, 0, 0, 0.861);
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
}
.navpp:hover {
  color: var(--main-color);
}
.iconsnav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}
.buttonpanier {
  display: flex;
  justify-content: center;
}

.veeplogoo {
  flex: 1;
  display: flex;
  justify-content: center;
}
.logoo {
  width: 150px;
  height: 120px;
}
.logo {
  width: 150px;
  height: 120px;
}
.iconn {
  width: 25px;
  height: 25px;
}
.navbaritems {
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top: 10px; */
  background-color: white;
}
.ahreff {
  color: var(--main-color) !important;
  text-decoration: underline;
  white-space: nowrap;
}
.ahref {
  color: var(--main-color) !important;
  text-align: right;
  justify-self: flex-end;
  margin: 0 0 0 auto;
  /* margin-left: 190px; */
}

main > div > div > p:nth-child(5) {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.leftfive {
}
.hr1 {
  margin: 10px 0px;
  width: 90%;
  border: 0.25px solid rgba(236, 232, 232, 0.74);
}
.navlinkss {
  margin-top: 14px;
  margin-bottom: 14px;
}
.green {
  color: rgb(51, 194, 87);
}

.product-cardd-flex {
  display: flex;
  /* flex-wrap: wrap; */
  /* width: 100%; */
  gap: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px;
}

.product-cardd-flex > div:nth-child(2) > div:nth-child(1) {
  gap: 8px;
  align-items: center;
}

.greenspan {
  padding: 4px 12px !important;
  font-size: 16px !important;
}

.product-cardd-flex > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-cardd-flex br {
  display: none;
}

.product-cardd > div:nth-child(2) {
  align-items: center;
  gap: 8px;
}

.product-cardd {
  background-color: #fff;
  text-align: start;
  /* padding: 20px; */
  width: 100%;
  min-width: 300px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
}

.product-cardd img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  align-self: baseline;
}

.product-cardd h2 {
  /* margin-top: 10px; */
}

.product-cardd button {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 450px;
  font-size: 18px;
  justify-content: center;
  align-self: center;
  line-height: 30px;
}

.product-cardd button:hover {
  background-color: rgba(241, 47, 170, 0.864);
}

.cardtow {
  flex: 1;
  min-width: 200px;
  /* width: 100%; */
  padding: 50px 8px;
}

h1 {
  display: block;
  font-size: 1.5em;

  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
p {
  display: block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  color: rgba(44, 43, 43, 0.887);
  /* margin-bottom: 30px; */
}
/* g {
  line-height: 40px;
} */
.greyp {
  color: rgba(128, 128, 128, 0.93);
  font-size: 18px;
  font-weight: 400;
  text-decoration: line-through;
}
.pinkp {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
}
.quantity {
  /* width: 40px; */
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
}
main > div > div > a:nth-child(6) > button {
  margin-top: 20px;
  padding: 6px 10px;
  width: 300px;
  background-color: var(--main-color) !important;
  margin: auto;
  border: none;
  border-radius: 5px;
  color: white;
}
.itemimg {
  width: 25px;
  height: 25px;
  border: none;
}
.itemimgg {
  width: 25px;
  justify-self: end;
  height: 25px;
  border: none;
}
.greenspan {
  background-color: rgb(45, 179, 85);
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: 900;
  padding: 5px;
  /* height: 25px; */
}
h4 {
  align-items: start;
}
.blackp {
  line-height: -1px;
  margin: 0;
  padding: 0;
}
.ahreffh {
  color: var(--main-color);
  text-align: center;
  text-decoration: underline;
  line-height: 30px;
}
.model {
  width: 15vw;
  max-width: 200px !important;
  min-width: 100px;
  height: auto;
  /* height: 150px; */
  border-radius: 5px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  gap: 30px;
}

main section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  min-width: 450px;
  /* width: 100%; */
}

footer {
  display: block;
  background-color: white;
}
.foterbody {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-top: 1.5rem;
  padding-bottom: 16px;
  font-family: "HK Grotesk", arial, sans-serif;
}
.titlefoter {
  font-weight: 600;
  padding: 0px 1rem;
  color: rgba(34, 34, 43, 0.798);
  display: block;
}
.footercontainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  padding: 16px;
  flex-wrap: wrap;
}
.footeritem {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 1rem;
  font-weight: 500;
  color: rgb(70, 70, 80);
}
.footerp {
  font-weight: 500;
  color: rgba(100, 100, 105, 0.914);
  font-size: 16px;
  white-space: nowrap;
}

/* media queries  */

@media (max-width: 1140px) {
  .navbaritems {
    padding: 0;
  }
  .headercontainertop {
    padding: 12px;
    gap: 16px;
  }
  .navbarr {
    margin-top: 0;
    padding: 0;
  }
  .navlinkss {
    padding: 8px 4px;
    margin: 0;
  }
  .titleunderlinee {
    font-size: 12px !important;
  }
  .titels {
    font-size: 12px !important;
  }
  .veeplogoo {
    justify-content: flex-start;
  }
  .logoo {
    width: 100px;
    height: auto;
  }
  .tooltip {
    flex: 0;
  }
  .tooltip .tooltiptext {
    padding: 12px;
  }
  .tooltip-item {
    padding: 0;
  }

  main {
    gap: 10px;
  }

  main section .cardonee {
    width: 100%;
  }

  .product-cardd {
    min-width: 100%;
  }

  .cardtow {
    min-width: 300px;
    padding: 8px;
  }
}

@media (max-width: 768px) {
  g {
    font-size: 10px;
  }
  .greyp {
    font-size: 10px;
  }
  .pinkp {
    font-size: 10px;
  }
  .greenspan {
    font-size: 12px !important;
  }
  .product-cardd-flex h4 {
    font-size: 14px;
  }
  .product-cardd-flex > div:nth-child(2) > div:nth-child(5) {
    br {
      display: none;
    }
  }
  .quantity {
    margin: 0;
  }
  .quantity h2 {
    margin: 0;
    font-size: 16px;
  }
  .itemimg {
    width: 20px;
  }
  .itemimgg {
    width: 20px;
  }
  .product-cardd-flex {
    flex-wrap: wrap;
  }
  .cardtow {
    min-width: 100%;
  }

  main section {
    min-width: 100%;
  }
}

@media (max-width: 450px) {
  .iconsnav {
    display: none;
  }
}
main {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 20px;
}

/* large screen */

@media (min-width: 1141px) {
  .product-card h4 {
    font-size: 2vw;
  }
  .product-card p {
    font-size: 1.4vw;
  }
  .product-card h3 {
    font-size: 1.4vw;
  }
  .hr1 {
    border-width: 2px;
    margin: 10px 0px;
  }
  .product-card button {
    margin-top: 8px;
    font-size: 1.4vw;
  }
  p.green {
    font-size: 1.6vw;
  }
  .ahreffh {
    font-size: 1.2vw;
  }
}